/*------------------以下全局主题配置-----------------*/
.badge-subject {background-color: #FFCC33;}
.badge-value {background-color: #fbe3b5;}
//.card {background-color: #fdf9ee;}
.darkmode--activated {
  .card .card-header a {color: #f3f3f3;}
  .notice {color: #f3f3f3;}
  .badge-subject {background-color: #4d4d4d;}
  .badge-value {background-color: #996600;}
}

/*------------------以上全局主题配置-----------------*/



/*-----------------以下为Gennuis主题配置---------------*/

body {
  background-color: #fdf9ee;
  background-image: url("/images/food.png");
  background-attachment:fixed;
  background-position:50% 50%;
}
body.darkmode--activated {
  background-color: #282828
  background-image: url("/images/skulls.png");
  background-attachment:fixed;
  background-position:50% 50%;
}
.menu-item-active a,.menu .menu-item a:hover,.menu .menu-item span.exturl:hover {background: #fdf9ee;}
.btn {background:#fdf9ee;}
.site-brand-container {background-image: url("/images/random-grey-variations.png");}
.post-block {}
.header-inner {background-image: url("/images/brand.png");}
.sidebar-inner {background-image: url("/images/brand.png");}

.darkmode--activated {
  .btn {background:var(--btn-default-bg);}
  .menu-item-active a,.menu .menu-item a:hover,.menu .menu-item span.exturl:hover {background: var(--menu-item-bg-color);}
}

/*-----------------以上为Gennuis主题配置---------------*/




/*------------------以下为Mist主题配置-----------------*/
/*
.footer-inner {text-align: center;}
//侧边栏背景
.sidebar {background: url(/images/yellow_side.png);}
//超链接颜色
a, span.exturl {color: #555555;}
//标题颜色
.brand {color: #555555 !important;}
//页脚字体颜色
.footer-inner {color: #555555;}
//搜索按钮颜色
.site-nav-toggle .toggle, .site-nav-right .toggle {color:#555555;}
//展开菜单颜色
.site-nav-toggle .toggle .toggle-line, .site-nav-right .toggle .toggle-line {background: #555555;}
//菜单选中时颜色
.menu-item-active a, .menu .menu-item a:hover, .menu .menu-item span.exturl:hover {background: #f3f3f3;}
//标题上下横线颜色
.logo-line-before i, .logo-line-after i {background:#555555;}
//页头背景图片
.header {background:url("/images/day.png");position: fixed;z-index:$zindex-2;width:100%;left: 0;right: 0;}
//页脚背景图片
.footer {background:url("/images/day.png");}
//友链名字颜色
.card .card-header a {color: #000000;}
//友链网站说明颜色
.notice {color: #000000;}
//侧边栏个人说明颜色
.site-description {color: #555;}
//侧边栏超链接颜色
.sidebar a, .sidebar span.exturl {color: #555;}
//侧边栏作者颜色
.site-author-name {color: #555;}
//侧边栏重点提示颜色
.sidebar-nav .sidebar-nav-active {border-bottom-color: #555555;color: #555555;}
//选中时侧边栏重点提示颜色
.sidebar-nav .sidebar-nav-active:hover {color: #f5f5f5;}
//侧边文章目录当前颜色
.post-toc .nav .active-current > a {color: #f5f5f5;}
.post-toc .nav .active > a {border-bottom-color: #f5f5f5;color: #f5f5f5;}
//侧边栏链接前圆点
.links-of-author a::before, .links-of-author span.exturl::before {background: #ff7a00;}
//返回顶部选中时颜色
.back-to-top:hover {color: #ff7a00;}
//打开侧边栏选中时颜色
.sidebar-toggle:hover .toggle-line {background: #ff7a00;}
//黑暗模式
.darkmode--activated {
  .sidebar {background: url(/images/black_side.png);}
  a, span.exturl {color: #f3f3f3;}
  .brand {color: #f3f3f3 !important;}
  .footer-inner {color: #f3f3f3;}
  .site-nav-toggle .toggle, .site-nav-right .toggle {color:#f3f3f3;}
  .site-nav-toggle .toggle .toggle-line, .site-nav-right .toggle .toggle-line {background: #f3f3f3;}
  .menu-item-active a, .menu .menu-item a:hover, .menu .menu-item span.exturl:hover {background: #555555;}
  .logo-line-before i, .logo-line-after i {background:#f3f3f3;}  
  .header {background:url("/images/night.png");}
  .footer {background:url("/images/night.png");}
  .site-description {color: #999;}
  .sidebar a, .sidebar span.exturl {color: #f3f3f3;}
  .site-author-name {color: #f3f3f3;}
  .sidebar-nav .sidebar-nav-active {border-bottom-color: #f3f3f3;color: #f3f3f3;}
  .sidebar-nav .sidebar-nav-active:hover {color: #666;}
  .post-toc .nav .active-current > a {color: #ab9468;}
  .post-toc .nav .active > a {border-bottom-color: #ab9468;color: #ab9468;}
  .links-of-author a::before, .links-of-author span.exturl::before {background: #ff9555;}
  .back-to-top:hover {color: #ff9555;}
  .sidebar-toggle:hover .toggle-line {background: #ff9555;}
  code {color: #69dbdc;background: transparent;}
}
*/
/*------------------以上为Mist主题配置-----------------*/